# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Production
/dist

# Supabase
/supabase/db/v1.sql
/supabase/functions/_prebuilt/
/supabase/functions/_build/
/supabase/functions/dist/
/supabase/functions/.deno_cache/

# Misc
.DS_Store
*.pem

# Environment Variables (SABSE IMPORTANT!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/pnpm/yarn error logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*